<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SearchPerformanceTests</key>
		<dict>
			<key>testBfsInCompleteGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.70343</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInCompleteGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.69075</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInPath()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1956</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInPathByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0656</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInPathWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.84765</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInPathWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.8616</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInStarGraph()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.83934</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInStarGraphByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.72092</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInStarGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.94352</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testBfsInStarGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.94768</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInCompleteGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.478</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInCompleteGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4918</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInPath()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1706</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInPathByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0764</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInPathWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.86968</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInPathWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.88317</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInStarGraph()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.5597</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInStarGraphByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46816</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInStarGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.85504</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
			<key>testDfsInStarGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.88412</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Nov 2018 at 18:55:04</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
