<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ConstructorsPerformanceTests</key>
		<dict>
			<key>testCompleteGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.45</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testCycleGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0632</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testCycleUniqueElementsGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.515</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testCycleUniqueElementsHashableConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0671</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testCycleUnweightedGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.08</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPathGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.03</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPathUniqueElementsGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPathUniqueElementsGraphHashableConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.516</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPathUnweightedGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testStarGraphConstructor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.18</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>SearchPerformanceTests</key>
		<dict>
			<key>testBfsInCompleteGraph()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.83567</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testBfsInCompleteGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.68029</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInCompleteGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.67477</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInPath()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11201</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInPathByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10076</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInPathWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.085446</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInPathWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.08478</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInStarGraph()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.077872</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInStarGraphByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.067484</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInStarGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.092772</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testBfsInStarGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.093149</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInCompleteGraph()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.974</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testDfsInCompleteGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.476</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInCompleteGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4764</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInPath()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11116</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInPathByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.092551</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInPathWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.080523</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInPathWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.085359</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInStarGraph()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055614</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInStarGraphByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.045118</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInStarGraphWithGoalTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084091</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
			<key>testDfsInStarGraphWithGoalTestByIndex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.083461</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Nov 2018 at 20:21:05</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
